doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Wrestling Roster Page')
    meta(name='author', content='')

    title Pro Wrestling Roster

    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
    include includes/css

  body
    include includes/header
    include includes/navbar

    section.page-section
      .container
        h2.text-center.mb-5 Roster

        .row.row-cols-1.row-cols-md-3.g-4
          .col
            .card.h-100.text-center
              img.card-img-top(src='assets/img/products-01.jpg' alt='...')
              .card-body
                h5.card-title Blended to Perfection
                p.card-text Coffees & Teas

          .col
            .card.h-100.text-center
              img.card-img-top(src='assets/img/products-02.jpg' alt='...')
              .card-body
                h5.card-title Delicious Treats, Good Eats
                p.card-text Bakery & Kitchen

          .col
            .card.h-100.text-center
              img.card-img-top(src='assets/img/products-03.jpg' alt='...')
              .card-body
                h5.card-title From Around the World
                p.card-text Bulk Specialty Blends

    include includes/footer
    include includes/scripts
